APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

DB_CONNECTION=mysql
DB_DATABASE=shopping_cart
DB_USERNAME=root
DB_PASSWORD=

FIREBASE_PROJECT_ID=
FIREBASE_ISSUER=
FIREBASE_PUBLIC_KEYS_URL=https://www.googleapis.com/robot/v1/metadata/x509/securetoken@system.gserviceaccount.com

SESSION_DRIVER=database
QUEUE_CONNECTION=database
CACHE_STORE=database
